@{
    ViewData["Title"] = "Cast Vote";
}

<h1>Vote!</h1>

<form asp-action="Vote">
    <div class="form-group">
        <label for="voter">I am</label>
        <select class="form-control" id="voter" name="voterId">
            @foreach (var voter in ViewBag.Voters)
            {
                <option value="@voter.Id">@voter.Name (Has Voted: @voter.HasVoted)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="candidate">I Vote for</label>
        <select class="form-control" id="candidate" name="candidateId">
            @foreach (var candidate in ViewBag.Candidates)
            {
                <option value="@candidate.Id">@candidate.Name (Votes: @candidate.Votes)</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>